<h2>{{products.name}}</h2>
<br>
<h3>Price: {{products.price}}</h3>
<h3>Quantity: {{products.inventory}}</h3>
<br>
<p>{{products.description}}</p>
<br>
<br>
<a href="/products/{{products.id}}/edit">EDIT</a>
{{> footer}}
{{> backToProducts}}