<form action="/products/{{id}}?_method=PUT" method="post">

  <label>Name:
    <textarea name="name" id="">{{name}}</textarea>
  </label>

  <label>Price:
    <textarea name="price" id="">{{price}}</textarea>
  </label>

  <label>Inventory:
    <textarea name="inventory" id="">{{inventory}}</textarea>
  </label>
  <br><br>
  <input type="submit" value="Submit">
</form>

<form action="/products/{{id}}?_method=DELETE" method="post">
  <button type="submit">Delete Product</button>
</form>

<br><br><br>



<form action="/articles/{{title}}?_method=PUT" method="post">

  <label>Title:
    <textarea name="title" id="">{{title}}</textarea>
  </label>

  <label>Body:
    <textarea name="body" id="">{{body}}</textarea>
  </label>

  <label>Author:
    <textarea name="author" id="">{{author}}</textarea>
  </label>

  <br><br>
  <input type="submit" value="Submit">
</form>